:root {
    /* IE and Edge */
    -ms-overflow-style: none; 

    /* Firefox */
    scrollbar-width: none;  
  
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;

  height: 100vh;
  margin: 0;

  overflow: hidden;

  display: flex;
  flex-direction: column;

  background-color: rgb(157, 157, 157);
}

#MainWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Main Wrapper Content */

#MainWrapper #TopBar {
  height: 80px;
  background-color: rgb(50, 211, 45);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: solid purple 2px;
}

  #MainWrapper #TopBar #WebsiteName {
    display: flex;
    margin: 20px;
  }

    #MainWrapper #TopBar #WebsiteName img {
      height: 40px;
      padding-right: 20px;
    }
  
  #MainWrapper #TopBar #AccountControl {
    margin: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
    #MainWrapper #TopBar #AccountControl img {
      height: 40px;
    }
    
    #MainWrapper #TopBar #AccountControl #AccountProfile {
      height: 40px;
      width: 40px;

      margin-left: 20px;
      border-radius: 100%;

      background-color: bisque;

      background-image: url("Resource/Logo.png");
      background-position: center;
    }

/* ~~Main Wrapper Content~~ */

